$serif-stack: Georgia, Cambria, "Times New Roman", Times, serif;
$sans-serif-stack: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;

body {
  @include font-smoothing;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  font-family: $serif-stack;
  font-size: 20px;
  line-height: 1.5em;
}

a {
  color: #57ad68;
  text-decoration: none;
}